
.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    border: 1px solid #000; /* Bordure de chaque cellule */
    padding: 8px; /* Espacement interne */
}

.table th {
    background-color: #6111bc; /* Couleur de fond pour les cellules d'en-tête */
    color: #fff; /* Couleur du texte pour les cellules d'en-tête */
    text-align: left; /* Alignement du texte dans les cellules d'en-tête */
}

.table tr:nth-child(even) {
    background-color: #fe7a15; /* Couleur de fond pour les lignes paires */
}

.table tr:nth-child(odd) {
    background-color: #fff; /* Couleur de fond pour les lignes impaires */
}

/* Style des liens à l'intérieur des cellules <td> */
.table td a {
    display: block; /* Les liens occupent toute la largeur de la cellule */
    margin-bottom: 5px; /* Espacement entre les liens */
    padding: 5px; /* Espacement interne des liens */
    text-decoration: none; /* Supprime les soulignements par défaut des liens */
    background-color:#6111bc;
}

/* Style au survol (hover) des liens */
.table td a:hover {
    background-color: #f0f0f0; /* Changement de couleur de fond au survol */
}